# Python
__pycache__/
*.pyc
.venv/

# 模型文件（太大，不入库）
hand_landmarker.task
yolov8n.pt
*.task
*.pt

# 数据文件
hand_data.json
*.json
!pyproject.toml
gesture_data.csv

# 训练视频（太大，不入库）
training_videos/

# IDE
.vscode/
.idea/

# uv
uv.lock
